.footer{
    margin-top: 50px;
    background-color: rgba(160, 81, 45, 0.534);
    padding: 40px;
    
}
.phone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
}